*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  font-family: cursive;
  background-color: #fefefe;
}


h2{
  text-align: center;
  color: black;
}

/* NAVIGATION*/

nav{
  width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #000000;
  border-bottom: 1px solid;
  position: relative;
}

.aboutus{
  background-color: rgb(121, 193, 235);
  border-radius: 30px;
}

nav .title{
  padding: 20px 20px;
  height: 80px;
  float: left;
  font-size: 40px;
  font-weight: bolder;
  font-style:unset;
  color: rgb(255, 255, 255)
}

nav ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display:inline-flex;
}

nav ul li a{
  line-height: 80px;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

nav ul li a:hover{
  background-color: rgb(148, 220, 248);
  border-radius: 30px;
  transition: 0.3s
}

nav ul li a:visited{
  color:rgb(255, 255, 255);
}

nav img{
  float: left;
}

h1 ul li a{
  line-height: 80px;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

h1 ul li a:hover{
  background-color: rgb(152, 153, 165);
  border-radius: 30px;
  transition: 0.8s;
}

h1 ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

/* FOOTER */

footer {
  background-color: rgb(4, 9, 7);
  color: #fefefe;
  height: 250px;
  font-size: .85em;
  position: relative;
 }
 
 .hour{
  padding-left: 200px;
 }
 
 footer table, footer p{
  text-align: left;
  padding: 20px;
 }

/* TOP PAGE BUTTON AND SCROLL BAR */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #cc2333;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #555;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #faeded; 
}

/* INDEX ID AND CLASS */

#bgv {
  object-fit: cover;
  position: fixed;
}

table th{
  font-size: large;
}
  
.wlc h2{
  text-align: center ;
  font-size: 100px;
  color: white;
  font-family:serif;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
  text-shadow: #000000 10px 10px 10px;
}


/* ABOUT ID AND CLASS*/

#bck{
  background-image: url(about/bck.jpg);
  background-repeat: no-repeat;
  background-size: 100%;  
}

.text1{
  padding:100px;
  color: white;
  font-family: cursive;
  text-align: center;
}

.text1 h1{
  font-size: 2.5em;
  text-shadow: #000000 10px 10px 10px;
}

.text1 p{
  font-size: 1.3em;
  text-shadow: #000000 10px 10px 10px;
}

.team{
  background-color: antiquewhite;       
}

.team img{
  padding:10px 100px;
}

.group {    
  padding-bottom:100px ;
}

.team p{
  text-align: left;
  padding: 10px 100px;
}

.move,.move1{
  padding-left: 450px;
}

.move1{
  padding-bottom: 100px;
}

.divider{
  width: 800px;
  height: 5px;
  background-color: black;
  display: inline-block;
  border-radius: 50%;
}

.line{
  text-align: center;      
}

.name{
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}

.group p{
  font-size: 1.2em;
}

.group img{
  width: 400px;
  height: 200px;
}

.team h2:after{
  content: '';
  height: 3px;
  width: 125px;
  border-radius: 100%;
  background-color: black;
  display: block;
  margin: auto;
}

/* MENU ID AND CLASS */

.center{
  margin: auto;
  width: 30%;
  border: 3px solid #000000; 
  border-radius: 10px;
  padding: 10px;
}

.icenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
  height: 50%;
  padding-top: 2em;
  padding-bottom: 2em;
}

#bgmenu{
  background-image: url(menu/bgmenu.png);
  padding-top: 4em;
}

.hcenter{
  margin: auto;
  width: 85%;
  border: 3px solid #000000; 
  border-radius: 40px;
  padding: 10px;
  background-color: #000000; 
  text-align: center; 
}

#pmu{
  background-color: #467042;
  border-color: #467042;
  color: white;
}

#cmu{
  background-color: #052F4C;
  border-color: #052F4C;
  color: white;
}

#smu{
  background-color: #0FA3B1;
  border-color: #0FA3B1;
  color: white;
}

#dmu{
  background-color: #FFDE6B;
  border-color: #FFDE6B;
  color: white;
}

#wmu{
  background-color: #3E1E24;
  border-color: #3E1E24;
  color: white;
}



/* CAREER ID AND CLASS*/

#hc2{
  margin: auto;
  text-align: center;
  color: black;
  background-size:10px 10px;
  font-size: 4em;
  border: black solid;
  width: 40%;
  height: 50%;
  background-color: white;
  margin-top: 4%;
}

#cbg{
  background-image: url(career/oooo.jpg);
}

.cimg{
  padding-left: 2em;
  float: left;
  width: 18%;
  height: 18%;
  padding-top: 0;
}

.spacing{
  border: #000000 solid ;
  background-color: white;
  border-bottom-width: 0.8em;
  border-top-width:0.8em ;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 4em;
}

.info{
  background-color: white;
  border: #000000 solid;
  padding-bottom: 3em;
}

.space{
  padding: 2em;
}

.border{
  border: #000000 solid;
  margin: auto;
  text-align: center;
  font-size: 2em;
}

.infotxt{
  padding-left: 10em;
  padding-right: 2em;
  font-size: 2em;
  text-align: justify;
}

#whatsapp {
  border: none;
  outline: none;
  background-color: #00E676;
  color: white;
  padding: 1.5em 2em 1.5em 2em;
  border-radius: 50%;
}


#email {
  border: none;
  outline: none;
  background-color: #1E7AD7;
  color: white;
  padding: 1.5em 2em 1.5em 2em;
  border-radius: 50%;
}

#phone {
  border: black solid;
  background-color: #ffffff;
  color: white;
  padding: 1.5em 2em 1em 2em;
  border-radius: 50%;
  }

#contact{
  background-color: white;
  text-align: center;
  border: #000000 solid;
  width: 40%;
  margin: auto;
  padding-bottom: 2em;
}

/* GALLERY ID AND CLASS */

#gbg{
  background-image: url(gallery/gbg.jpg);
  background-size: cover;
}

#gllr{
  margin:2em;
  border: #000000 dashed;
  border-width: 5px;
  background-color: white;
}

.image-grid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;
  
  box-sizing: border-box;
  padding: var(--gap);
  
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}
  
.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.icr23 {
  grid-column: span 2;
  grid-row: span 3;
}
  
.icr21 {
  grid-column: span 2;
  grid-row: span 1;
}

.icr12 {
  grid-column: span 1;
  grid-row: span 2;
}

.icr32 {
  grid-column: span 4;
  grid-row: span 2;
    
}
  
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}

#gh1{
  text-align: center;
  margin: 1em 35% 1em 35%;
  border: #000000 double ;
  border-width: 1rem;
  padding: 1rem;
  background-color: white;
}


